* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5c39d;


}

.winner {

    height: 15vmin;
    display: flex;
    font-size: 200%;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: none;
}

.game {
    /* background-color: #f1bf98; */
    background-color: #f3bf98;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */

}

.container {
    border-radius: 4%;
    padding: 2vmin;
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    justify-content: center;
    background-color: #E1F4CB;
}

.msg {
    color: white;
    font-size: 500%;
    font-weight: 200; 
 }

.hide {
    display: none;
  
}

.box {
    font-size: 500%;
    border-radius: 8%;
    background-color: #BACBA9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    color: #DFFDFF;
    width: 18vmin;
}

.box:hover {
    transform: scale(110%);
}

.new-game {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: #f3bf98;
    font-size: 400%;
    font-weight: 200;
   border-radius: 20px;
   border: 2px solid black;
} 
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3bf98;
   
}
.reset-btn button{
    color: #f3bf98;
    font-size: 400%;
    font-weight: 200;
    border-radius: 20px;
}
